.parent_div{


}

.profile_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
#profile_picture{
    border-radius: 50%;
    width: 125px;
    height: 125px;
}

.projects_div{
    text-align: center;
    align-self: center;
}

#first_name,
#last_name,
#phone,
#email{
    margin-bottom: 25px;
}
