.cus_img {
    width: 250px;
    margin-left: 12px;
    margin-top: 12px;
}

.nice-select {
    width: 100% !important;
}

.errorlist {
    font-size: 80%;
    color: #dc3545;
}

.extra_item {
    color: #48453d;
    margin-top: 30px;
    overflow: hidden;
}

.block-title {
    color: #48453d;
    margin-bottom: 0px;
    font-size: 18px;
    margin-top: 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.item-content-block {
    padding: 20px;
    border-top: 2px solid #f6f6f2;
    background-color: #FFF;
    display: block;
}

.extra_tags a {
    background-color: #40c78e;
    padding: 10px;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 11px;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-right: 2px;
    text-decoration: none;
}

.extra_tags a:hover {
    background-color: #226d4d;
}

.similar_content {
    width: 304px;
    height: 299px;
}