{% extends "layout/base.html" %}
{% load crispy_forms_tags %}

{% block bradcam_text %}
Register Now
{% endblock %}


{% block styles %}
<link rel="stylesheet" href="/static/authenticate/css/register.css">
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Baloo+Thambi+2:600&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>
                <br>
                <i class="fa fa-user-plus"></i>
                <b class="register_bold">Register</b>
            </legend>
            {{ form|crispy }}
        </fieldset>
        <div>
            <button type="submit" class="btn btn-primary sign_up_button">
                <i class="fa fa-user-plus"></i>
                Sign Up
            </button>
        </div>
    </form>

    <div>
        <small>
            Already Have An Account? <br> <a href="{% url 'login' %}">
                <span>
                    <i class="fa fa-sign-in"></i>
                </span>
                Sign In
            </a>
        </small>
    </div>
</div>
{% endblock content %}