.logIn_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_button,
.fb_login_button{
    margin: 15px 0px;
    width: 250px;
}

.login-col-3 a {
    background-color: #093E80 !important;
}

.fa{
    font-size: 20px;
    padding: 5% 2.5%;
}

.user_button{
    color: green;
}
