{% extends "layout/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load total_amount %}
{% load ratings %}
{% block styles %}
<link rel="stylesheet" href="/static/users/css/profile.css">
<link rel="stylesheet" href="/static/projects/css/sweetalert2.min.css">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Baloo+Thambi+2:600&display=swap" rel="stylesheet">
{% endblock %}

{% block bradcam_text %}
Profile
{% endblock %}

{% block content %}
<div class=" pt-120 cause_details ">
    <div class="container emp-profile">
        <div class="row">

            <div class="col-md-3 ">
                <div class="list-group">
                    <a href="#tab1" data-toggle="tab" class="list-group-item list-group-item-action active"><i
                            class="fa fa-home"></i> Dashboard</a>
                    <a href="#tab2" data-toggle="tab" class="list-group-item list-group-item-action"><i
                            class="fa fa-briefcase"></i> Projects</a>
                    <a href="#tab3" data-toggle="tab" class="list-group-item list-group-item-action"><i
                            class="fa fa-credit-card"></i> Donations</a>


                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>
                                        <i class="fa fa-user-circle"></i>
                                        Your Profile
                                    </h4>
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="col-8">
                                            {{ user.username|as_crispy_field }}

                                        </div>
                                        <div class="col-8">
                                           {{ user.first_name|as_crispy_field }}
                                        </div>
                                        <div class="col-8">
                                           {{ user.last_name|as_crispy_field }}
                                        </div>

                                        <div>
                                            <label for="email" class="col-4 col-form-label">Email*</label>
                                            <div class="col-8">
                                                <input id="email" name="email"
                                                       class="form-control here" required="required" type="text"
                                                       disabled value="{{ email }}">
                                            </div>
                                        </div>

                                         <br>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4>
                                                    <i class="fa fa-plus-circle"></i>
                                                    Additional Info
                                                </h4>
                                            </div>
                                        </div>
                                    <hr>
                                        <div class="col-8">
                                            {{ user.facebook|as_crispy_field }}
                                        </div>

                                        <div class="col-8">
                                            {{ user.instagram|as_crispy_field }}
                                        </div>

                                        <div class="col-8">
                                            {{ user.twitter|as_crispy_field }}
                                        </div>

                                        <div class="col-8">
                                            {{ user.public_info|as_crispy_field }}
                                        </div>

                                        <div class="form-group row">
                                            <div class="offset-4 col-8">

                                                <button name="submit" type="submit" class="btn btn-primary update_button"><i class="fa fa-edit"></i>
                                                    Update My Profile
                                                </button>

                                                <br>
                                                <hr>
                                                <a class="btn btn-danger" href="{% url 'delete_profile' %}" id="delete_profile"> 
                                                    <span title="Edit">
                                                        <i class="fa fa-user-times" aria-hidden="true"></i>
                                                      </span>
                                                    <i class="fa user-times"></i> Delete account
                                                
                                                </a>

                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab2">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>
                                        <i class="fa fa-briefcase"></i>
                                        Projects
                                    </h4>
                                    <hr>
                                    <h5>
                                        <i class="fa fa-codepen"></i>
                                        In total you've got {{ user_projects.count }} projects
                                    </h5>
                                    <hr>


                                    <!--Display user projects -->

                                    <div class="row">

                                        {% for project in user_projects %}
                                        <div class="col-lg-6 col-md-6">
                                            <div class="single_cause">
                                                <h4><i class="fa fa-hashtag"></i> <a
                                                        href="#"> </a>{{ project.title }}</h4></a>
                                                <div class="thumb">
                                                    <img src="/media/{{ project.images.first }}" width="300px"
                                                         height="208" alt="">
                                                </div>
                                                <div class="causes_content">
                                                    <div class="custom_progress_bar">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar"
                                                                 style="width: {{ project.donations.all | total_amount |total_amount_percent:project.total }}%;"
                                                                 aria-valuenow="30" aria-valuemin="0"
                                                                 aria-valuemax="100">
                                                            <span class="progres_count">
                                                                {{ project.donations.all | total_amount |total_amount_percent:project.total }}%
                                                            </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="balance d-flex justify-content-between align-items-center">
                                                        <span>Raised: ${{ project.donations.all | total_amount }} </span>
                                                        <span>Goal: ${{ project.total }} </span>
                                                    </div>
                                                    {% ratings project icon_width=15 %}

                                                    <p>{{ project.desc|truncatewords:20 }}</p>
                                                    <a class="read_more"
                                                       href="{% url 'projects.show' project.slug %}">Read
                                                    More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <br>
                                        {% empty %}
                                        <h3>You do not have projects for now!</h3>
                                        {% endfor %}
                                        

                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="tab-pane" id="tab3">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>
                                        <i class="fa fa-credit-card"></i>
                                        Donations
                                    </h4>
                                    <hr>
                                    <div class="row">

                                        {% for project in donations %}
                                        <div class="col-lg-6 col-md-6">
                                            <div class="single_cause">
                                                <h4><i class="fa fa-hashtag"></i> <a
                                                        href="#"> </a>{{ project.title }}</h4></a>
                                                <div class="thumb">
                                                    <img src="/media/{{ project.images.first }}" width="300px"
                                                         height="208" alt="">
                                                </div>
                                                <div class="causes_content">
                                                    <div class="custom_progress_bar">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar"
                                                                 style="width: {{ project.donations.all | total_amount |total_amount_percent:project.total }}%;"
                                                                 aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">

                                                                <span class="progres_count">
                                                                {{ project.donations.all | total_amount |total_amount_percent:project.total }}%
                                                            </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="balance d-flex justify-content-between align-items-center">
                                                        <span>Raised: ${{ project.donations.all | total_amount }} </span>
                                                        <span>Goal: ${{ project.total }} </span>
                                                    </div>

                                                    {% ratings project icon_width=15 %}

                                                    <p>{{ project.desc|truncatewords:20 }}</p>
                                                    <a class="read_more"
                                                       href="{% url 'projects.show' project.slug %}">Read
                                                    More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <br>
                                        {% empty %}
                                        <h3> Currently you don't have any donations !</h3>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


</div>
</div>
</div>


{% endblock %}

{% block scripts %}
    <script src="/static/projects/js/sweetalert2.min.js"></script>
    <script>
            $(document).on("click", "#delete_profile", function (e) {
                e.preventDefault();
                Swal.fire({
                    title: 'Are you sure to delete your account?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, do it!'
                }).then((result) => {
                    if (result.value) {
                        location.href = "{% url 'delete_profile' %}";
                    }
                })
            });
    </script>
{% endblock %}