{% extends "layout/base.html" %}

{% load total_amount %}

{% block styles %}
    <link rel="stylesheet" href="/static/projects/css/customStyle.css">
{% endblock %}

{% block bradcam_text %}
    <a href="">{{ project.category }}</a>/{{ project.title }}
{% endblock %}

{% block content %}

    {% total_amount project.donations.all as all_donations %}
    <!-- popular_causes_area_start  -->
    <div class="popular_causes_area pt-120 cause_details ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="single_cause">
                        <div class="thumb">
                            <img src="/media/{{ project.images.first }}" alt="">
                        </div>
                        <div class="causes_content">
                            <div class="custom_progress_bar">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar"
                                         style="width: {{ all_donations |total_amount_percent:project.total }}%;"
                                         aria-valuenow="30"
                                         aria-valuemin="0" aria-valuemax="100">
                                        <span class="progres_count">
                                            {{ all_donations |total_amount_percent:project.total }}%
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="balance d-flex justify-content-between align-items-center">
                                <span>Raised: ${{ all_donations }} </span>
                                <span>Goal: ${{ project.total }} </span>
                            </div>
                            <h4>{{ project.title }}</h4>
                            <p>{{ project.desc }}</p>
                            <div class="extra_item">
                                <div class="item-content-block">
                                    <div class="block-title">Tags</div>
                                </div>
                                <div class="item-content-block extra_tags">
                                    {% for tag in project.tags.all %}
                                        <a href="#">{{ tag }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- popular_causes_area_end  -->

    {% if all_donations < project.total and project.owner != user %}
        <div class="make_donation_area section_padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section_title text-center mb-55">
                            <h3><span>Make a Donation</span></h3>
                        </div>
                    </div>
                </div>
                <form action="{% url 'projects.add_donations' %}" method="post" class="donation_form">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">

                            {% csrf_token %}
                            <input type="hidden" name="project" value="{{ project.slug }}">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="single_amount">
                                        <div class="input_field">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">$</span>
                                                </div>
                                                <input type="number" class="form-control" name="amount" value="100"
                                                       placeholder="40,200"
                                                       aria-label="Username" aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="donate_now_btn text-center">
                                <button type="submit" class="boxed-btn4">Donate Now</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    <!-- similar projects  -->
    {% if similar_projects %}
        <div class="reson_area section_padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section_title text-center mb-55">
                            <h3><span>Similar Projects</span></h3>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    {% for proj in similar_projects %}
                        <div class="col-lg-4 col-md-6">
                            <div class="single_reson">
                                <div class="thum">
                                    <div class="thum_1">
                                        <img src="/media/{{ proj.images.first }}" width="266px" height="388px" alt="">
                                    </div>
                                </div>
                                <div class="help_content similar_content">
                                    <h4>{{ proj.title }}</h4>
                                    <p>{{ proj.desc|truncatewords:20 }}</p>
                                    <a href="{% url "projects.show" proj.slug %}" class="read_more">Read More</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <!-- similar projects end  -->


{% endblock %}