{% extends "layout/base.html" %}
{% load total_amount %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="/static/main/customStyle.css">
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Baloo+Thambi+2:600&display=swap" rel="stylesheet">

<script src="/static/main/javascript/customJS.js"></script>

{% endblock %}
{% block header %}

<!-- Search form -->


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        {% for project in context.top_rated %}
        <div class="carousel-item {% if forloop.first %} active {% endif %}">

            <img class="d-block w-100 img_size" src="/media/{{ project.images.first }}" alt="First slide">
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- slider_area_end -->




{% endblock %}

{% block content %}
<form action="{% url 'projects.all' %}?search={{project.name}}" method="GET">
<input name="q" class="form-control" type="text" placeholder="Search" aria-label="Search">
</form>

<!-- reson_area_start  -->
<div class="reson_area section_padding">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-6">
                <div class="section_title text-center mb-55">
                    <h3>
                        <span>
                            <i class="fa fa-tasks"></i>
                            Latest Projects 
                        </span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for project in context.latestProjects %}
            <div class="col-lg-4 col-md-6">
                <div class="single_reson">
                    <div class="thum">
                        <div class="thum_1">
                            <img src="/media/{{ project.images.first }}" width="350px" height="208" alt="">
                        </div>
                    </div>
                    <div class="help_content">
                        <h4>{{ project.title }}</h4>
                        <p>{{ project.desc|truncatewords:20 }}</p>
                        <a class="read_more" href="{% url "projects.show" project.slug %}">Read More</a>
                    </div>
                </div>
            </div>
            {% empty %}
             <h3>You do not have donations for now!</h3>
            {% endfor %}

            <!-- latest_activites_area_end  -->

            <!-- popular_causes_area_start  -->
            <div class="popular_causes_area section_padding">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="section_title text-center mb-55">
                                <h3>
                                    <span>
                                        <i class="fa fa-thumbs-up"></i>
                                        Featured Projects
                                    </span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for project in context.selectedProjects %}
                        <div class="col-lg-4 col-md-6">


                            <div class="single_cause">
                                <div class="thumb">
                                    <img src="/media/{{ project.images.first }}" width="350px" height="208"
                                         alt="">
                                </div>
                                <div class="causes_content">
                                    <div class="custom_progress_bar">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar"
                                                 style="width: {{ project.donations.all | total_amount |total_amount_percent:project.total }}%;"
                                                 aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                            <span class="progres_count">
                                                {{ project.donations.all | total_amount |total_amount_percent:project.total }}%
                                            </span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="balance d-flex justify-content-between align-items-center">
                                        <span>Raised: ${{ project.donations.all | total_amount }} </span>
                                        <span>Goal: ${{ project.total }} </span>
                                    </div>
                                    <h4>{{ project.title }}</h4>
                                    <p class="popular">{{ project.desc|truncatewords:20 }}</p>
                                    <a class="read_more" href="{% url "projects.show" project.slug %}">Read
                                    More</a>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <h3>You do not have donations for now!</h3>
                        {% endfor %}

                    </div>

                </div>
            </div>
            <!--icon slider-->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section_title text-center mb-55">
                            <h3>
                                <span>
                                    <i class="fa fa-book"></i>
                                    Categories
                                </span>
                            </h3>
                        </div>
                        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">

                            <!-- Wrapper for carousel items -->
                            <div class="carousel-inner">
                                {% for cus_categories in context.categories %}
                                <div class="item carousel-item {% if forloop.first %} active {% endif %}">
                                    <div class="row">
                                        {% for project in cus_categories %}
                                        <div class="col-lg-3">
                                            <div class="thumb-wrapper">
                                                <div class="img-box">
                                                    <a href="{% url 'projects.all' %}?category={{project.name}}"><img
                                                            src="/media/{{ project.image }}"
                                                            class="img-responsive img-fluid" alt=""></a>
                                                </div>
                                                <div class="thumb-content">
                                                    <h4>{{ project.name }}</h4>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% empty %}
                                <h3>You do not have donations for now!</h3>
                                {% endfor %}
                                <!-- Carousel controls -->
                                <a class="carousel-control left carousel-control-prev" href="#myCarousel"
                                   data-slide="prev">
                                    <i class="carousel-control-prev-icon"></i>
                                </a>
                                <a class="carousel-control right carousel-control-next" href="#myCarousel"
                                   data-slide="next">
                                    <i class="carousel-control-next-icon"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- popular_causes_area_end  -->

            </div>

            <!-- our_volunteer_area_start  -->

            <div class="our_volunteer_area section_padding">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="section_title text-center mb-55">
                                <h3>
                                    <span>
                                        <i class="fa fa-users"></i> 
                                        Core Members
                                    </span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6">
                            <div class="single_volenteer">
                                <div class="volenteer_thumb">
                                    <img src="/static/layout/img/volenteer/4.jpeg" alt="">
                                </div>
                                <div class="voolenteer_info d-flex align-items-end">
                                    <div class="social_links">
                                        <ul>
                                            <li>
                                                <a href="https://www.facebook.com/mohamedsalah1020"> <i
                                                        class="fa fa-facebook"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#"> <i class="fa fa-pinterest"></i> </a>
                                            </li>
                                            <li>
                                                <a href="https://www.linkedin.com/in/mohamedabokhadra/"> <i
                                                        class="fa fa-linkedin"></i> </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com/Abokhadra2030"> <i
                                                        class="fa fa-twitter"></i> </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="info_inner">
                                        <h4>Mohamed Salah</h4>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single_volenteer">
                                <div class="volenteer_thumb">
                                    <img src="/static/layout/img/volenteer/2.png" alt="">
                                </div>
                                <div class="voolenteer_info d-flex align-items-end">
                                    <div class="social_links">
                                        <ul>
                                            <li>
                                                <a href="#"> <i class="fa fa-facebook"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#"> <i class="fa fa-pinterest"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#"> <i class="fa fa-twitter"></i> </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="info_inner">
                                        <h4>Emran Ahmed</h4>
                                        <p>Volunteer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single_volenteer">
                                <div class="volenteer_thumb">
                                    <img src="/static/layout/img/volenteer/3.png" alt="">
                                </div>
                                <div class="voolenteer_info d-flex align-items-end">
                                    <div class="social_links">
                                        <ul>
                                            <li>
                                                <a href="#"> <i class="fa fa-facebook"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#"> <i class="fa fa-pinterest"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#"> <i class="fa fa-linkedin"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#"> <i class="fa fa-twitter"></i> </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="info_inner">
                                        <h4>Sabbir Ahmed</h4>
                                        <p>Volunteer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- our_volunteer_area_end  -->


        </div>
    </div>

</div>
</div>
</div>

{% endblock %}



