.active{
    background-color: #1FCBAA !important;
    border-style: none;
}

div {
    font-family: 'Open Sans', sans-serif;
}
    
h3, h4, h5{
    font-family: 'Baloo Thambi 2', cursive;
    color: #14565E;
}

.update_button{
    background-color: #1FCBAA ;
    border-style: none;
}

.update_button:hover {
    background-color: #004F4A;
    border-style: none;
}
div.card-body{
    width: 700px;
}
.single_cause{
    width: 300px;
    margin-bottom: 45px;

}

p{
    width: 97%;



}




